* {
    box-sizing: border-box;
}
body {
    background-image: url('assets/images/background-desktop.png');
    background-position: center;
    color: whitesmoke;
    font-family: "Inconsolata";
}
form.form {
    width: 35%;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
h1 {
    text-align: center;
}
p.hero-text {
    text-align: center;
    font-size: 16px;
    text-wrap: nowrap;
    font-weight: 40;
}
div.all {
    width: 70%;
    margin: auto;
    line-height: 30px;
    margin-top: -30px;
}
button {
    margin-top: 20px;
    text-align: center;
    color: hsl(248, 70%, 10%);
    background: hsl(7, 88%, 67%);
    border: none;
    height: 30px;
    border-radius: 13px;
    width: 100%;
}

button:hover {
    cursor: pointer;
}
input[type="text"], input[type="email"] {
    height: 30px;
    width: 100%;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid hsl(245, 15%, 58%, 0.5);
    color: white;
    background-color: hsl(246, 15%, 18%, 0.4);
    margin-bottom: 10px;
}
input::placeholder {
    color: hsl(245, 15%, 58%);
}
div.avatar-upload {
    text-align: center;
    border-radius: 10px;
    border: 2px solid hsl(245, 15%, 58%, 0.5);
    border-style: dashed;
    background-color: hsl(246, 15%, 18%, 0.4);
    line-height: 0;
}

label.custom-button img {
    background-color: hsl(245, 15%, 58%, 0.2);
    margin-top: 12px;
    height: 40px;
    border-radius: 8px;
}

label.custom-button:hover {
    cursor: pointer;
}

label {
    font-size: 15px;

}
input[type="file"] {
    display: none;
}
div.error {
    margin-top: -15px;
    color: red;
    display: none;   
}
a {
    text-decoration: none;
    color: whitesmoke;
}
span.text-gradient {
    background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

img.squiggly-line-top {
    width: 60%;
}
img.squiggly-line-bottom {
    width: 60%;
}

div.ticket {
    width: 50%;
    margin: auto;
    
}
div.ticket-info {
    background-image: url('assets/images/pattern-ticket.svg');
    background-size: 100% 100%;
    padding: 3.5vw;
    font-size: 2vw;
}
img.ticket-img {
    width: 70%;
    margin: auto;
}
img.coding-img {
    height: 1.5vw;
}
img.user-info-img {
    width: 5vw;
    height: 5vw;
    border-radius: 8px;
    position: relative;
    top: 3vw;
}
div.user-info {
    display: flex;
    margin-top: 3vw;
}
div.user-info-para {
    margin-top: 1.5vw;
    margin-left: 1vw;
    line-height: 1vw;
}
img.github-img  {
    width: 1.2vw;
}
p.coding {
    margin: 5px;
}
div.coding-info {
    font-size: 3vw;
}
span.github, span.time-location {
    font-size: 1.4vw;
}
span#ticketEmail {
    color: hsl(7, 86%, 67%);
}
p.ticketEmail {
    text-align: center;
}
span.at-span {
    font-size: 1.5vw;
}
@media (max-width: 768px) {
    form.form {
        width: 100%;
    }
    p.hero-text {
        text-wrap: wrap;
    }
    div.all {
        width: 100%;
    }
    img.squiggly-line-top {
        width: 60%;
    }
    img.squiggly-line-bottom {
        width: 60%;
    }
    div.ticket {
        width: 100%;
        margin-top: 15vw;
    }
    div.ticket-info {
        background-image: url('assets/images/pattern-ticket.svg');
        background-size: 100% 100%;
        padding: 10vw;
        font-size: 5vw;
    }
    img.github-img  {
        width: 2.5vw;
    }
    div.coding-info {
    font-size: 5vw;
    margin-bottom: 5vw;
    padding-top: 10px;
    }
    img.user-info-img {
        width: 10vw;
        height: 10vw;
        top: 4vw;
    }
    span.github, span.time-location {
    font-size: 2.5vw;
    }
    img.coding-img {
        height: 3.5vw;
    }
    div.user-info {
    display: flex;
    margin-top: 0;
    }
    p.name {
        text-wrap: nowrap;
        font-size: 3vw;
    }
    p#ticketUsername {
        text-wrap: nowrap;
        font-size: 2.5vw;
        margin-top: 20px;
    }
}
